{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Task manager{% endblock %}

{% block content %}
    <div class="card my-2 mx-3">
        <div class="card-header bg-light">
            {{ greeting }}!
        </div>
        <div class="card-body">
            <h5 class="card-title">{% trans "Hello from Hexlet!" %}</h5>
            <a href="#" class="btn btn-primary">{% trans "Learn more" %}</a>
        </div>
    </div>
{% endblock %}




